body {
  margin: 0px;
}

html {
  overflow-y: hidden !important;
  overflow: hidden !important;
  user-select: none;
  background-color: whitesmoke !important;
}

input:active, input:focus {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}


@import "~bulma/sass/utilities/initial-variables.sass";

$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #005172;
// Use the new serif family
$family-primary: $family-serif;

@import "~bulma/bulma.sass";
