#about {
  width: 100%;
  height: 100%;
  background-color: blue;
  border-radius: 25px;
  box-shadow:  inset 0 0 10px #000000;
  display: flex;
}

#test {
  color: yellow;
  font-family: avenir, sans-serif;
  font-size: 90px;
  font-weight: 800;
  //color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2b2b2b;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0px 10px 3px rgba(0,0,0,.2);
  animation: flicker 15s linear infinite;
}

@keyframes flicker {
  0% { opacity: 1; }
  1% { opacity: .3;}
  // flicker
  5%  { opacity: 0; }
  6% { opacity: 1; }
  11% { opacity: .4; }
  11.25% { opacity: .6; }
  11.5% { opacity: .4; }

  // flicker here
  16.5% { opacity: 1;}
  18% { opacity: 1;}
  20% { opacity: .9; }
  22% { opacity: 1; }

  25% { opacity: .6;}
  27% { opacity: .35;}

  // flicker here
  30% { opacity: 0;}
  31% { opacity: .3}
  32.5% { opacity: 0;}
  33% { opacity: .25; }
  33.5% { opacity: 0; }
  35% { opacity: .6; }

   // flicker here
  38.5% { opacity: 1; }
  39% { opacity: .8; }
  42% { opacity: 1; }

  // flicker here
  60% { opacity: 1; }
  60.5% { opacity: 0; }
  62% { opacity: 0; }
  63% { opacity: .2; }
  63.25% { opacity: 0; }
  65% { opacity: 1; }

  // flicker here
  73% { opacity: 1; }
  75% { opacity: .8; }
  79% { opacity: 1; }
  100% { opacity: 1; }
}
