

#stocks {
  overflow: auto;
  max-height: 80%;
}


#input {
  box-shadow: 0 8px 6px -8px black;
  width: 100%;
  z-index: 500;
}

#info {
  clear: both;
  position: relative;
  height: 100%;
}

#infoContent {
  position: relative;
}

#test {
}
